.address {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 115px;

  background-color: $bg-primary;
}

.address__call {
  color: $font-dark;
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

  padding: 15px;

  // border: 1px dashed black; //  test
}

.address__text {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  padding: 15px;

  // border: 1px dashed black; //  test
}

.address--mobile-only {
  display: none;
}



//      tablets
@media screen and (min-width: $tablet-width) {

  .address {
    height: 200px;
    padding-top: 3px; // pp
  }

  .address__call {
    font-size: 20px;
    line-height: 25px;
    flex-basis: 240px;
  }

  .address__text {
    font-size: 16px;
    line-height: 20px;
    flex-basis: 240px;

    text-align: right;
  }

  .address--mobile-only {
    display: block;
  }

}




//      desktop
@media screen and (min-width: $desktop-width) {

  .address {
    position: absolute;
    width: 570px;

    top: 17.5%;
    left: 7.7%;
  }

  .address__call {
    padding-left: 74px;
  }

  .address__text {
    text-align: left;
    padding-right: 18px;
  }

}