.cat-profile {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  border: none;
}

.cat-profile__list {
  padding: 0;
  margin-bottom: 8px; // pp
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;

  list-style: none;

  min-width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-height: 190px;
}

.cat-profile__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 12px; // pp
  margin-bottom: 3px; // pp

  font-size: 16px;
}

.cat-profile__label {
  text-transform: uppercase;
}

.cat-profile__input {
  flex-grow: 1;

  min-height: 30px;

  padding: 6px;
  padding-left: 14px; // pp
  margin-left: 15px;

  text-transform: uppercase;

  border: 1px solid #cdcdcd;

  &:focus {
    color: #444444;
  }

  @include placeholder {
    color: #444444;
  }
}







//      tablets
@media screen and (min-width: $tablet-width) {

  .cat-profile {
    width: 630px;
  }

  .cat-profile__list {
    padding: 0;
    margin: 0;
    margin-top: 29px;

    min-height: 190px;
  }

  .cat-profile__item {
    margin-bottom: 8px; // pp

    font-size: 20px;
  }

  .cat-profile__input {
    padding: 10px;
    padding-left: 18px; // pp
    margin-left: 20px; // pp

    border: 1px solid #cdcdcd;
  }
}






//      desktops
@media screen and (min-width: $desktop-width) {
  .cat-profile {
    width: 570px;
  }

  .cat-profile__list {
    margin-top: 0px;
  }

}