.copyright {
  display: flex;

  align-items: center;
}

.copyright__link {
  color: $font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

.copyright__logo {
  width: 27px;
  height: 35px;

  fill: #666666;
}



//      tablets
@media screen and (min-width: $tablet-width) {

  .copyright__link {
    margin-left: -13px; // pp
  }

  .copyright__logo {
    margin-right: 10px; // pp
  }
}