.intro {
  max-width: 425px;
  margin: 0 auto;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  // margin: 0 auto;
  text-align: center;

  color: $font-light;
  background: url(../img/index-bg-mobile.jpg) no-repeat 50% 0%;
  background-size: contain;
}

.intro__headline {
  color: $font-light;
  font-family: $font-family;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;

  margin-top: 27px;
}

.intro__call {
  font-family: $font-family;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.intro__product {
  margin-top: 30px;
}

.intro__link {
  color: $font-light;
  font-family: $font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;

  display: block;

  background: $bg-others;
  text-decoration: none;

  min-width: 260px;
  max-width: 425px;
  min-height: 20px;
  padding: 10px;
  margin-top: 2px;
}


//       tablet
@media screen and (min-width: $tablet-width) {

  .intro {
    max-width: 768px;
    min-height: 806px;

    margin-left: -1px; // pp
  }

  .intro__wrapper {
    align-items: flex-start;
    position: relative;

    padding-left: 120px;
    padding-right: 60px;

    background: none;

    color: $font-dark;
  }

  .intro__headline {
    color: $font-dark;
    text-align: left;
    width: 440px;

    font-size: 60px;
    line-height: 60px;

    margin-left: -2px; //pp

    order: -1;
  }

  .intro__call {
    text-align: left;
    font-size: 20px;
    line-height: 20px;

    order: -1;
  }

  .intro__product {
    position: absolute;
    top: 197px;
    left: 30px;

    max-width: 709px;
    max-height: 609px;

    z-index: -1;
  }

  .intro__link {
    font-size: 20px;
    line-height: 20px;

    margin-top: 48px;
    padding-top: 15px;
    padding-left: 9px; // pp

    min-width: 225px;
    min-height: 27px;

    order: -1;
  }

}