.slider {
  padding-bottom: 20px;
}

.slider__container {
  position: relative;

  min-width: 280px;
  min-height: 240px;
  max-width: 385px;

  margin: 0 auto;
}

.slider__cat-before {
  background-color: $bg-secondary;

  width: 100%;
  min-height: 240px;

  position: absolute;

  background: $bg-secondary url(../../img/cat-before.png) no-repeat;
  background-position: 50% 0%;
  background-size: contain;
}

.slider__cat-after {
  background-color: $bg-secondary;

  width: 100%;
  min-height: 240px;

  position: absolute;

  background: $bg-secondary url(../../img/cat-after.png) no-repeat;
  background-position: 50% 0%;
  background-size: contain;
}

.slider__controls {
  color: $font-dark;
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;

  text-align: center;

  min-width: 280px;
  max-width: 385px;

  margin: 0 auto;
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__button {
  background-color: $bg-primary;
  border: 1px solid #cdcdcd;

  width: 84px;
  height: 14px;

  border-radius: 7px;

  margin: 20px;

  cursor: pointer;

  &::after {
    content: "";
    display: block;

    width: 35px;
    height: 6px;

    background-color: $bg-others;

    border-radius: 3px;
  }
}




// адаптировать стили

// .slider{
//   position:relative;
//   width:880px;
//   height:310px;
//   margin:0 auto;
// }

// .slider input[type=radio] {
//   position:absolute;
//   opacity:0;
// }

// .slider-controls{
//   position:absolute;
//   bottom:95px;
//   left:50%;
//   width:200px;
//   height:10px;
//   margin-left:-100px;
//   text-align:center;
//   z-index:1000;
// }

// .slider-controls label{
//   display:inline-block;
//   width:4px;
//   height:4px;
//   margin:0 3px;
//   background:white;
//   border:3px solid white;
//   vertical-align:top;
//   border-radius:50%;
//   cursor:pointer;
// }

// #btn-1:checked ~ .slider-controls label[for="btn-1"],
// #btn-2:checked ~ .slider-controls label[for="btn-2"] {
//   background:#c1c1c1;
// }

// .slide{
//   position:absolute;
//   top:0;
//   left:0;
//   width:100%;
//   height:100%;
//   overflow:hidden;
// }

// .slide-text{
//   width:380px;
//   padding:30px 0;
//   color:#283136;
// }

// .slide-title{
//   font-size:36px;
//   line-height:1;
//   font-weight:bold;
//   color:black;
// }

// .slide .btn{
//   display:block;
//   width:240px;
//   padding:10px 0;
//   margin-top:25px;
//   font-size:12px;
//   color:white;
//   text-transform:uppercase;
//   text-align:center;
//   text-decoration:none;
//   background:#fb565a;
//   border-radius:3px;
// }

// .slide:nth-child(1){
//   background-image:url('img/slider-bg.png');
//   background-repeat:no-repeat;
//   background-position:100% 10px;
// }

// .slide:nth-child(2){
//   background-image:url('img/slider-bg-2.png');
//   background-repeat:no-repeat;
//   background-position:100% 10px;
// }

// .slide{
//   display:none;
// }

// #btn-1:checked ~ .slides .slide:nth-child(1) {
//   display: block;
// }

// #btn-2:checked ~ .slides .slide:nth-child(2) {
//   display: block;
// }