.table {
  background-color: $bg-secondary;

  min-width: 280px;
  // max-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 17px;
}

.table tbody {
  display: flex;
  flex-direction: column;
}

.table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 15px;

  min-width: 285px;
}

.table__data {
  text-align: center;
}

.table__nums {
  color: $font-dark;
  font-family: $font-family;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;

  display: block;
  padding: 12px;

  min-width: 122px;
  min-height: 55px;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  box-sizing: border-box;
}

.table__text {
  font-size: 12px;
  line-height: 12px;

  display: block;

  padding-left: 15px;
  padding-right: 15px;

  width: 70px;
  margin-top: -9px;
  margin-left: 10px;

  background-color: $bg-secondary;
}

.table__total {
  color: $font-dark;
  font-family: $font-family;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;

  text-align: center;

  flex-basis: 100%;
}



//      tablet
@media screen and (min-width: $tablet-width) {

  .table {
    background-color: $bg-primary;
  }

  .table tbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 708px;
  }

  .table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    margin-bottom: 15px;

    // border: 1px solid navy; // del
  }

  .table--first-row {
    flex-grow: 3;
  }

  .table--second-row {
    flex-grow: 1;
  }

  // .table__data {
  // }

  .table__nums {
    font-size: 30px;
    line-height: 38px;

    min-width: 161px;
    min-height: 70px;
  }

  .table__text {
    font-size: 14px;
    line-height: 14px;

    background-color: $bg-primary;

    min-width: 130px; // "затрачено времени" встает в одну строку, вместо двух
  }

  .table__total {
    font-size: 20px;
    line-height: 20px;

    width: 200px;
  }

}