@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Oswald Regular";
  src: url("../fonts/Oswald_reg_med.woff2") format("woff2"),
    url("../fonts/Oswald_reg_med.woff") format("woff");
}

@font-face {
  font-family: "Oswald Medium";
  font-weight: medium;
  font-style: normal;
  src: url("../fonts/Oswald_reg_med.woff2") format("woff2"),
    url("../fonts/Oswald_reg_med.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  background-color: $bg-primary;

  color: $font;
  font-family: $font-family-common;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}


img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-dark;
  font-family: $font-family;
  font-weight: normal;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.divider {
  background-color: #444444;
  margin: 0 auto;
  width: 80%;
  height: 1px;
  border: none;
  opacity: 0.1;
}

.tablet-only {
  display: none;
}

@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {

  .tablet-only {
    display: block;
    width: 100%;
  }

}