$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// colors set
$bg-primary: #ffffff;
$bg-secondary: #f2f2f2;
$bg-others: #68b738;
$font: #444444;
$font-light: #ffffff;
$font-dark: #111111;
$nav: #222222;
$bg-slider-grad: linear-gradient(to left, #eaeaea 0% 50%, #f2f2f2 50% 100%);
$bg-slider-img-grad: linear-gradient(to bottom, #ffffff 0% 27%, #f2f2f2 27% 100%);
$bg-slider-img-grad2: linear-gradient(to bottom, #ffffff 0% 27%, #eaeaea 27% 100%);
$slider-bar: #dcdcdc;
$slider-thumb-color: #ffffff;
$slider-thumb-border: #cdcdcd;
$table-bg:#f2f2f2;

$font-family: "Oswald Regular", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-family-medium: "Oswald Medium", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-family-common: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
